@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --title-font: "Bebas Neue", sans-serif;
    --text-font: "Open Sans", sans-serif;

    --background: hsl(206, 47%, 97%);
    --cards: hsl(216, 100%, 99%);
    --borders: hsl(203, 6%, 65%);
    --black: hsl(214, 12%, 12%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100dvh;
    font-family: var(--text-font);
    background-color: var(--background);
    color: var(--black);
}

h1, h2, h3{
    font-family: var(--title-font);
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: clamp(2.5rem, 5vw, 5rem);
}

p{
    color: hsl(0, 0%, 20%);
}

img{
    width: 100%;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

a{
    text-decoration: none;
}