@import url(base.css);

.overlay.active{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000049;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.login-screen{
    display: none;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
}
.login-screen.active{
    display: block;
}
.login-screen p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.login-screen .exit-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.login-screen .exit-btn span{
    width: 100%;
    height: 2px;
    background-color: #000;
}
.login-screen .exit-btn span:nth-child(1){
    transform: rotate(45deg) translateY(6px);
}
.login-screen .exit-btn span:nth-child(2){
    transform: rotate(-45deg) translateY(-7px);
}
.login-screen form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.login-screen form input{
    width: 100%;
    padding: .5rem 1rem;
    margin-block: .2rem;
}
.login-screen form input[type=checkbox]{
    width: 20px;
    margin-block: .5rem 1rem;
}
.login-screen form span label{
    font-size: .9rem;
    text-transform: capitalize;
}
.login-screen form button{
    width: 100%;
    padding: .7rem 1rem;
    margin-block: .2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: .4rem 1rem;
    z-index: 9999;
    transition: background-color .3s ease-in-out;
}
.header.active{
    background-color: #fff;
}
.header .menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 35px;
    height: 35px;
    padding: .2rem;
    background-color: transparent;
}
.header .menu-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform .3s ease-in-out;
}
.header .menu-icon.active span:nth-child(1){
    transform: rotate(45deg) translateY(6px);
}
.header .menu-icon.active span:nth-child(2){
    transform: rotate(-45deg) translateY(-7px) ;
}
.header .options button{
    font-size: 1.3rem;
    margin-inline: .2rem;
    background-color: transparent;
}

.side-menu{
    position: fixed;
    top: 50px;
    left: -70%;    
    width: 60%;
    height: 100dvh;
    padding: 3rem 1rem;
    z-index: 9999;
    background-color: #fff;
    border-left: 1px solid;
    transition: left .3s ease-in-out;
}
.side-menu.active{
    left: 0;
}
.side-menu h2{
    margin-block: 1rem;
    border-bottom: 1px solid;
}
.side-menu a{
    display: block;
    text-transform: capitalize;
    font-size: clamp(1rem, 1vw, 1.3rem);
    margin-block: .5rem;
    color: #000;
}
.side-menu a:hover{
    text-decoration: underline;
}

.hero{
    height: 100dvh;
    background-color: rgba(255, 0, 0, 0.151);
}

.highlights{
    padding-block: 2rem;
}
.highlights h2{
    font-size: clamp(2rem, 3vw, 3rem);
}
.highlights h2, p{
    text-align: center;
}
.highlights ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-block: 1rem;
    margin-block: 1rem;
    list-style: none;

}
.highlights .category{
    position: relative;
    font-family: var(--title-font);
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-transform: uppercase;
    padding: .2rem .5rem;
    margin-inline: .5rem;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
.highlights .category::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .3s ease-in-out;
}
.highlights .category.active::after{
    width: 100%;
}
.highlights .category:hover::after{
    width: 100%;
}

.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding-inline: .5rem;
    transition: all .5s ease-in-out;
}
.product-card{
    min-width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 1rem;
    color: #000;
    border: 1px solid;
    text-align: center;
}
.product-card.hide{
    display: none;
}
.product-card img{
    height: 80%;
}
.product-card h3{
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.offers{
    border: 1px solid;
}
.offers img{
    object-fit: cover;
}

.offer-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}
.offer-display img{
    object-fit: cover;
}
.offer-display .viewport{
    overflow: hidden;
    width: 100%;
}
.offer-display .track{
    display: flex;
    transition: transform .3s ease-in-out;
}
.offer-display .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.offer-display .card h3{
    font-size: clamp(2rem, 3vw, 3rem);
}

.carousel{
    width: 80%;
    margin: auto;
    position: relative;
}
.carousel button{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    padding: .5rem;
    border: 1px solid;
    border-radius: 50%;
    background-color: transparent;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.prev{
    left: 10px;
    z-index: 99;
}
.next{
    right: 10px;
}

.quote{
    padding: 5rem 1rem;
    padding-inline: 1rem;
}
.quote a{
    font-family: var(--title-font);
    font-size: clamp(3rem, 6vw, 15rem);
    font-weight: bold;
    color: #000;
}

.time-line{
    border: 1px solid;
    padding-block: 1rem;
}
.time-line .time-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 60%;
    height: 150px;
    padding: 1rem;
    margin: auto;
    margin-block: 1rem;
    border: 1px solid;
}
.time-line .time-card h3{
    font-size: clamp(1.7rem, 3vw, 2.5rem);
}

@media screen and (min-width: 344px) and (max-width: 412px){
    .login-screen{
        width: 90%;
    }

    .products{
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 768px){
    .login-screen{
        width: 50%;
    }

    .header{
        padding: .5rem 2rem;
    }

    .options a{
        font-size: 1.3rem;
        margin-inline: .2rem;
    }

    .side-menu{
        width: 30%;
        padding: 3rem 2rem;
    }
    .side-menu h2{
        margin-bottom: 1rem;
    }

    .highlights h2, p{
        padding-inline: 2rem;
    }

    .products{
        gap: .5rem;
        padding-inline: 2rem;
    }

    .offers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .offers img{
        object-fit: cover;
    }

    .offer-display{
        position: relative;
        padding: 0;
    }
    .offer-display h2{
        position: absolute;
        top: 13%;
    }
    .offer-display p{
        position: absolute;
        top: 19%;
    }

    .carousel{
        width: 70%;
        margin: auto;
    }
    .carousel p{
        position: static;
    }

    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about .quote{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .login-screen{
        width: 30%;
    }

    .hero{
        height: 160dvh;
    }

    .products{
        grid-template-columns: repeat(4, 1fr);
    }
}